/* single work: paired static images */
.section-split .column-singlework-grid2 {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 768px) {
  .section-split .column-singlework-grid2 {
      display: block;
      width: 100%;
      padding: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
}

/* single-work, immagine full width altezza fissa 500px */
.fullscreen-resp-img {
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 100%;
  height:500px;
  padding: 0;
  border: 0;
}

/* colore testo titoli in home page */
h1.white-text {
  color: #fff !important;
}

/* colore testo pulsanti in home page */
.btn-danger {
  color: #3a3a3a !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #3a3a3a !important;
}

/* conserva i filtri della pagina WORKS colorati */
.nav-filters > li > a {
  color: #007aff;
}
.nav-filters > li > a:after {
  background-color: #007aff;
}
.nav-filters > li > a:hover,
.nav-filters > li > a:focus,
.nav-filters > li.active > a,
.nav-filters > li.active > a:hover,
.nav-filters > li.active > a:focus {
  opacity: 1;
  color: #007aff;
}

/* conserva il colore del footer della citazione nella pagina ABOUT */
blockquote footer {
  color: #007aff;
  border-top: 1px solid #007aff;
}


/*.top-bar-ghost-light, .top-bar-ghost-dark, .navbar-ghost.navbar-ghost-light, .navbar-ghost.navbar-ghost-dark {
    background: rgba(245, 245, 245, 0.6);
}*/

/* portfolio page */
.tile .tile-body {
    text-align: center;
    padding: 22px 22px 8px 22px;
}
.tile .tile-body p {
    color: #7a7a7a;
}


/* galleries' dots */
.content-slider.owl-carousel .owl-controls .owl-dots {
    margin-top: 22px;
}
.text-light.owl-carousel .owl-controls .owl-dot, .text-light .owl-carousel .owl-controls .owl-dot {
    background-color: #007aff;
}

.post-meta-left{
    text-align:left !important;
    font-size:12px;
}

/* colore sfondo footer */
.footer-dark .subfooter {
  background-color: #4d4d4d;
}

.container-singlework-grid.cust-back {
  background-color: #f5f5f5;
}

.tools .column .bi-twitter,  .tools .column .bi-linkedin, .tools .column .bi-github {
  color: black;
}