p.text-big {
	font-size: 2rem;
	line-height: 2.8rem;
	margin-top: 4rem;
	margin-bottom: 4rem;
	/*text-align: center;*/
}

span.white-strong {
	color: rgba(255, 255, 255, 1);
}

.hero-title {
  max-width: 680px;
}

#logo img {
	height: 30px;
}
	
#logo span {
	display: block;
	height: 40px;
	width: auto;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
}

#logo span.black-logo {
	opacity:1;
}

.light-content #logo span.black-logo {
	opacity:0;
}

.menu-open.light-content #logo span.black-logo, .initial.light-content #logo span.black-logo {
	opacity:1;
}


.menu-open.light-content .slide-in #logo span.black-logo {
	opacity:0;
}

#logo span.white-logo {
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	color: white;
}

.light-content #logo span.white-logo {
	opacity:1;
}

.menu-open.light-content #logo span.white-logo, .initial.light-content #logo span.white-logo {
	opacity:0;
}

.menu-open.light-content .slide-in #logo span.white-logo {
	opacity:1;
}

.client-logo {
	max-height: 2rem;
	max-width: 50%;
}

.one_third {
  text-align: center;
  margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {

	h4.dida {
		font-size: 16px;
		line-height: 24px;
	}

	.hero-subtitle {
		line-height: 10px;
		margin-bottom: 20px;
	}

	.hero-subtitle span {
		line-height: 25px;
		height: 25px;
	}

	.one_third {
    width: 50%;
	}

}