<section id="info-header">
	<div class="info-header info-title"></div>
	<div class="info-header info-country"></div>
	<div class="info-header info-region"></div>
	<div class="info-header info-region"></div>
	<!-- <div class="info-header info-range"></div> -->
</section>
<section id="info-map"></section>
<section id="zoom-map-button">
	<button class="button" id="zoom-map"></button>
</section>
<section id="info-detail">
	<div class="info-detail" id="info-height">
		<div class="detail-title">Height</div>
		<div class="detail-chart"></div>
		<div class="detail-dida"></div>
	</div>
	<div class="info-detail" id="info-drop">
		<div class="detail-title">Drop</div>
		<div class="detail-chart"></div>
		<div class="detail-dida"></div>
	</div>
	<div class="info-detail" id="info-firstascent">
		<div class="detail-title">First ascent</div>
		<div class="detail-chart"></div>
		<div class="detail-dida"></div>
	</div>
</section>
<section id="info-paragraph"></section>