#main-wrapper {
  width: 100%;
  height: 80%;
  padding: 0 1rem;
  background: #fff;
  overflow-y: hidden;
}
#main-wrapper.main-mobile {
  overflow: hidden;
}
main {
	width: 100%;
	height: 100%;
  background: #fff;
  overflow-x: scroll;
  overflow-y: hidden;
  /*transform: translateY(10px);*/
}
main #peaks-chart {
  width: 100%;
  height: 100%;
}
#peaks-container {
  height: 100%;
}
.spacer-h-ten {
	height: 10%;
}

.triangle {
	fill-opacity: 0.3;
	stroke: none;
}
/*.triangle.orange {
	fill: orange;
}
.triangle.green {
	fill: green;
}
.triangle.red {
	fill: red;
}
.triangle.blue {
	fill: blue;
}
.triangle.purple {
	fill: purple;
}
.triangle.cyan {
	fill: cyan;
}
.triangle.pink {
	fill: pink;
}
.triangle.fr-it {
	fill: url(#fr-it-gradient);
}
.triangle.ch-it {
	fill: url(#ch-it-gradient);
}
.triangle.ch-fr {
	fill: url(#ch-fr-gradient);
}
.triangle.at-it {
	fill: url(#at-it-gradient);
}
.triangle.at-ch {
	fill: url(#at-ch-gradient);
}
.triangle.at-de {
	fill: url(#at-de-gradient);
}
.triangle.it-si {
	fill: url(#it-si-gradient);
}
.triangle.ch-li {
	fill: url(#ch-li-gradient);
}
.triangle.at-li {
	fill: url(#at-li-gradient);
}
.triangle.at-si {
	fill: url(#at-si-gradient);
}*/

@media only screen and (min-width: 768px) {
  /* For desktop: */
  #main-wrapper {
  	height: 85%;
  }
  .spacer-h-ten {
		height: 7.5%;
	}
}